<section class="dentist-pictures">
    <div class="dentist-pictures__container">
        <div class="container">
            <div class="dentist-pictures__wrapper">
                <div class="dentist-pictures__img dentist-pictures__img_pos_left">
                    <img src="img/dent-1.png" alt="">
                </div>
                <div class="dentist-pictures__img dentist-pictures__img_pos_right">
                    <img src="img/dent-2.png" alt="">
                </div>
            </div>
        </div>
    </div>
</section>