<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js?_v=20240304161205"></script>
<script src="https://cdn.jsdelivr.net/npm/@fancyapps/ui@5.0/dist/fancybox/fancybox.umd.js"></script>
<script src="js/script.js"></script>
<footer class="footer">
    <div class="footer__container">
        <div class="container">
            <div class="footer__wrapper">
                <div class="footer__top">
                    <div class="footer__info">
                        <div class="footer__logo">
                            <div class="logo">
                                <a href="/" class="logo__wrapper">
                                    <div class="logo__img">
                                        <img src="img/logo.svg" alt="">
                                    </div>
                                    <div class="logo__text">
                                        <p>Казахстанско-Германский <br> центр имплантологии <br>в городе Астана</p>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="footer__license">
                            <p class="plain-text-xs">Лицензия ЛО-22-01-0010-22 от 11 августа 2009, выдана ФС по надзору в сфере здравоохранения и социального развития</p>
                        </div>
                        <div class="footer__media">
                            <a href="" class="footer__media-link">
                                <img src="img/whatsapp-footer.svg" alt="">
                            </a>
                            <a href="" class="footer__media-link">
                                <img src="img/insta-footer.svg" alt="">
                            </a>
                        </div>
                    </div>
                    <div class="footer__menu">
                        <div class="footer__col">
                            <div class="footer__menu-title">Услуги</div>
                            <a href="#" class="footer__link">Имплантация зубов</a>
                            <a href="#" class="footer__link">Протезирование зубов</a>
                            <a href="#" class="footer__link">Лечение зубов</a>
                            <a href="#" class="footer__link">Чистка зубов</a>
                            <a href="#" class="footer__link">Удаление зубов</a>
                            <a href="#" class="footer__link">Лечение дёсен</a>
                            <a href="#" class="footer__link">Установление брекетов</a>
                            <a href="#" class="footer__link">Виниры</a>
                        </div>
                        <div class="footer__col">
                            <div class="footer__menu-title">Клиника</div>
                            <a href="#" class="footer__link">Услуги</a>
                            <a href="#" class="footer__link">Отзывы</a>
                            <a href="#" class="footer__link">Технологии</a>
                            <a href="#" class="footer__link">Контакты</a>
                            <a href="#" class="footer__link">О клинике</a>
                            <a href="#" class="footer__link">Наши специалисты</a>
                            <a href="#" class="footer__link">Акции</a>
                            <a href="#" class="footer__link">Вакансии</a>
                        </div>
                    </div>
                    <div class="footer__contacts">
                        <div class="footer__working-hours">С 8:00 до 21:00</div>
                        <div class="footer__address">г. Астана, <br> просп. Кабанбай <br> Батыра, 29</div>
                        <div class="footer__for-contact">Для связи с нами</div>
                        <a href="tel:+77050215023" class="footer__tel">+7 (705) 021-50-23</a>
                        <a href="#" class="footer__button button button_color_gradient">Записаться на консультацию</a>
                    </div>
                </div>
                <div class="footer__bottom">
                    <div class="footer__copyright">Copyright © 2024 Клиника «АсерДент»</div>
                    <div class="footer__policy"><a href="#">Политика конфиденциальности</a></div>
                    <div class="footer__created-by"><a href="#">Дизайн и разработка — AstanaCreative</a></div>
                </div>
            </div>
        </div>
    </div>
</footer>