<header class="header">
    <div class="header__container">
        <div class="container">
            <div class="header__wrapper">
                <div class="logo">
                    <a href="/" class="logo__wrapper">
                        <div class="logo__img">
                            <img src="img/logo.svg" alt="">
                        </div>
                        <div class="logo__text">
                            <p>Казахстанско-Германский <br> центр имплантологии <br>в городе Астана</p>
                        </div>
                    </a>
                </div>

                <div class="header-menu">
                    <div class="header-menu__wrapper">
                        <div class="header-menu__item">
                            <a href="/services.html" class="header-menu__link">Услуги</a>
                        </div>
                        <div class="header-menu__item">
                            <div class="dropdown-menu">
                                <a href="javascript:;" class="header-menu__link header-menu__dropdown">Клиника</a>
                                <ul class="dropdown-menu__list">
                                    <li class="dropdown-menu__item"><a class="dropdown-menu__link" href="">Пункт1</a></li>
                                    <li class="dropdown-menu__item"><a class="dropdown-menu__link" href="">Пункт2</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="header-menu__item">
                            <a href="/technologys.html" class="header-menu__link">Технологии</a>
                        </div>
                        <div class="header-menu__item">
                            <a href="/prices.html" class="header-menu__link">Цены</a>
                        </div>
                        <div class="header-menu__item">
                            <a href="/blog.html" class="header-menu__link">Блог</a>
                        </div>
                        <div class="header-menu__item">
                            <a href="/feedback.html" class="header-menu__link">Отзывы</a>
                        </div>
                        <div class="header-menu__item">
                            <a href="/contacts.html" class="header-menu__link">Контакты</a>
                        </div>
                    </div>
                </div>

                <div class="header-contacts">
                    <div class="header-contacts__wrapper">
                        <div class="header-contacts__media">
                            <a href="#">
                                <img src="img/whatsapp-header.svg" alt="">
                            </a>
                            <a href="#">
                                <img src="img/insta-header.svg" alt="">
                            </a>
                        </div>

                        <div class="header-contacts__contacts">
                            <a class="header-contacts__phone plain-text plain-text_size_s" href="tel:+77050215023">+7 (705) 021-50-23</a>
                            <p class="plain-text plain-text_size_s">ежедневно 8:00 - 21:00</p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</header>