<div class="media-icons-card">
    <div class="media-icons-card__wrapper">
        <p class="plain-text">Поделиться в соц. сетях</p>
        <div class="media-icons-card__icons">
            <a href="" class="media-icons-card__icon">
                <img src="img/about-clinic-vk.svg" alt="">
            </a>
            <a href="" class="media-icons-card__icon">
                <img src="img/about-clinic-whatsapp.svg" alt="">
            </a>
            <a href="" class="media-icons-card__icon">
                <img src="img/about-clinic-telegram.svg" alt="">
            </a>
        </div>
    </div>
</div>