<div class="pagination">
    <div class="pagination__container">
        <div class="pagination__wrapper">
            <div class="pagination__item active number-page">
                <a href="#" class="pagination__link plain-text-s">1</a>
            </div>
            <div class="pagination__item number-page">
                <a href="#" class="pagination__link plain-text-s">2</a>
            </div>
            <div class="pagination__item number-page">
                <a href="#" class="pagination__link plain-text-s">3</a>
            </div>
            <div class="pagination__item number-page">
                <a href="#" class="pagination__link plain-text-s">4</a>
            </div>
            <div class="pagination__item number-page">
                <a href="#" class="pagination__link plain-text-s">5</a>
            </div>
            <div class="pagination__item number-page">
                <a href="#" class="pagination__link plain-text-s">6</a>
            </div>
            <div class="pagination__item next">
                <a href="#" class="pagination__link plain-text-s">Вперед</a>
            </div>
        </div>
    </div>
</div>