<section class="slider-feedback">
  <div class="slider-feedback__container">
    <div class="container">
      <div class="slider-feedback__wrapper">
        <div class="slider-feedback__title-nav-wrapper">
          <img class="floating-img" src="img/hand-w-tooth.png" alt="">
          <div class="slider-feedback__title-wrapper">
            <div class="slider-feedback__subtitle subtitle  subtitle plain-text-s">ОТЗЫВЫ НАШИХ КЛИЕНТОВ</div>
            <div class="slider-feedback__title title-section">Что говорят наши клиенты</div>
          </div>
          <div class="slider-feedback__nav">
            <div class="slider-feedback__prev swiper-button-prev">
              <svg width="46" height="46" viewBox="0 0 46 46" fill="none" xmlns="http://www.w3.org/2000/svg">
                <circle cx="23" cy="23" r="22" transform="rotate(-180 23 23)" stroke="currentColor" stroke-width="2"/>
                <path d="M16.0999 23L30.5001 23" stroke="currentColor" stroke-width="2" stroke-linecap="square"/>
                <path d="M21.5499 29.0246L15.4999 23.0006L21.5499 16.9756" stroke="currentColor" stroke-width="2" stroke-linecap="square"/>
              </svg>
            </div>
            <div class="slider-feedback__next swiper-button-next">
              <svg width="46" height="46" viewBox="0 0 46 46" fill="none" xmlns="http://www.w3.org/2000/svg">
                <circle cx="23" cy="23" r="22" stroke="currentColor" stroke-width="2"/>
                <path d="M29.9001 23L15.4999 23" stroke="currentColor" stroke-width="2" stroke-linecap="square"/>
                <path d="M24.4501 16.9754L30.5001 22.9994L24.4501 29.0244" stroke="currentColor" stroke-width="2" stroke-linecap="square"/>
              </svg>
            </div>
          </div>
        </div>
        <div class="slider-feedback__swiper swiper">
          <div class="slider-feedback__swiper-wrapper swiper-wrapper">
            <div class="slider-feedback__slide swiper-slide">
              <div class="feedback-card">
                <div class="feedback-card__wrapper">
                  <p class="plain-text">Хожу к доктору Макаровой Елене Витальевне уже более 10 лет. Она профессиональная, тактичная, приятная женщина. Сужу по состоянию моих зубов, у меня нет проблем с зубами, значит нет проблем с врачами, они хорошо лечатся.</p>

                  <div class="feedback-card__author">
                    <div class="feedback-card__name">Алиса Суворова</div>
                    <div class="feedback-card__date">14.08.2022</div>
                  </div>
                </div>
              </div>
            </div>

            <div class="slider-feedback__slide swiper-slide">
              <div class="feedback-card">
                <div class="feedback-card__wrapper">
                  <p class="plain-text">Наблюдаемся здесь с обоими детьми и всегда всё нравилось. А сегодня прям восторг! С утра ребёнок встал с сильной болью, не может есть и вообще не очень самочувствие. Позвонили в надежде записаться к своему доктору, но у неё, к сожалению, не было мест, только на вечер. Предложили пройти осмотр у другого специалиста пораньше. Зашли. Осмотр… 5минут и минус зуб. Спасибо врачу.</p>

                  <div class="feedback-card__author">
                    <div class="feedback-card__name">Алиса Суворова</div>
                    <div class="feedback-card__date">14.08.2022</div>
                  </div>
                </div>
              </div>
            </div>

            <div class="slider-feedback__slide swiper-slide">
              <div class="feedback-card">
                <div class="feedback-card__wrapper">
                  <p class="plain-text">Хочу выразить огромную благодарность Диане Ишхановне! Мы пришли записываться на лечение под наркозом, так как моей дочери было 3 года, она не давала другим врачам даже смотреть зубы, а лечить надо было 11 зубов! А Диана Ишханова ее как-то уговорила и мы постепенно всё вылечили без наркоза!</p>

                  <div class="feedback-card__author">
                    <div class="feedback-card__name">Алиса Суворова</div>
                    <div class="feedback-card__date">14.08.2022</div>
                  </div>
                </div>
              </div>
            </div>

            <div class="slider-feedback__slide swiper-slide">
              <div class="feedback-card">
                <div class="feedback-card__wrapper">
                  <p class="plain-text">Хожу к доктору Макаровой Елене Витальевне уже более 10 лет. Она профессиональная, тактичная, приятная женщина. Сужу по состоянию моих зубов, у меня нет проблем с зубами, значит нет проблем с врачами, они хорошо лечатся.</p>

                  <div class="feedback-card__author">
                    <div class="feedback-card__name">Алиса Суворова</div>
                    <div class="feedback-card__date">14.08.2022</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="slider-feedback__pagination swiper-pagination"></div>
      </div>
    </div>
  </div>
</section>
