<section class="slider-dentists">
    <div class="slider-dentists__container">
        <div class="container">
            <div class="slider-dentists__swiper swiper">
                <div class="slider-dentists__wrapper swiper-wrapper">
                    <div class="slider-dentists__slider swiper-slide">
                        <div class="slider-dentists__img-container">
                            <img src="img/dentist-slide-2.png" alt="" class="slider-dentists__img">
                        </div>
                    </div>
                    <div class="slider-dentists__slider swiper-slide">
                        <div class="slider-dentists__img-container">
                            <img src="img/dentist-slide-2.png" alt="" class="slider-dentists__img">
                        </div>
                    </div>
                    <div class="slider-dentists__slider swiper-slide">
                        <div class="slider-dentists__img-container">
                            <img src="img/dentist-slide-2.png" alt="" class="slider-dentists__img">
                        </div>
                    </div>
                </div>

                <div class="slider-dentists__pagination swiper-pagination"></div>

                <div class="slider-dentists__nav">
                    <div class="slider-dentists__prev swiper-button-prev"></div>
                    <div class="slider-dentists__next swiper-button-next"></div>
                </div>
            </div>
        </div>
    </div>
</section>