<section class="slider-feedback">
  <div class="slider-feedback__container">
    <div class="container">
      <div class="slider-feedback__wrapper">
        <div class="slider-feedback__title-nav-wrapper">
          <img src="img/hand-w-tooth.png" alt="">
          <div class="slider-feedback__title-wrapper">
            <div class="slider-feedback__title-subtitle plain-text-s">ОТЗЫВЫ НАШИХ КЛИЕНТОВ</div>
            <div class="slider-feedback__title title-section">Что говорят наши клиенты</div>
          </div>
          <div class="slider-feedback__nav">
            <div class="slider-feedback__prev swiper-button-prev"></div>
            <div class="slider-feedback__next swiper-button-next"></div>
          </div>
        </div>
        <div class="slider-feedback__swiper swiper">
          <div class="slider-feedback__swiper-wrapper swiper-wrapper">
            <div class="slider-feedback__slide swiper-slide">
              <div class="feedback-card">
                <div class="feedback-card__wrapper">
                  <p class="plain-text">Хожу к доктору Макаровой Елене Витальевне уже более 10 лет. Она профессиональная, тактичная, приятная женщина. Сужу по состоянию моих зубов, у меня нет проблем с зубами, значит нет проблем с врачами, они хорошо лечатся.</p>

                  <div class="feedback-card__author">
                    <div class="feedback-card__name">Алиса Суворова</div>
                    <div class="feedback-card__date">14.08.2022</div>
                  </div>
                </div>
              </div>
            </div>

            <div class="slider-feedback__slide swiper-slide">
              <div class="feedback-card">
                <div class="feedback-card__wrapper">
                  <p class="plain-text">Наблюдаемся здесь с обоими детьми и всегда всё нравилось. А сегодня прям восторг! С утра ребёнок встал с сильной болью, не может есть и вообще не очень самочувствие. Позвонили в надежде записаться к своему доктору, но у неё, к сожалению, не было мест, только на вечер. Предложили пройти осмотр у другого специалиста пораньше. Зашли. Осмотр… 5минут и минус зуб. Спасибо врачу.</p>

                  <div class="feedback-card__author">
                    <div class="feedback-card__name">Алиса Суворова</div>
                    <div class="feedback-card__date">14.08.2022</div>
                  </div>
                </div>
              </div>
            </div>

            <div class="slider-feedback__slide swiper-slide">
              <div class="feedback-card">
                <div class="feedback-card__wrapper">
                  <p class="plain-text">Хочу выразить огромную благодарность Диане Ишхановне! Мы пришли записываться на лечение под наркозом, так как моей дочери было 3 года, она не давала другим врачам даже смотреть зубы, а лечить надо было 11 зубов! А Диана Ишханова ее как-то уговорила и мы постепенно всё вылечили без наркоза!</p>

                  <div class="feedback-card__author">
                    <div class="feedback-card__name">Алиса Суворова</div>
                    <div class="feedback-card__date">14.08.2022</div>
                  </div>
                </div>
              </div>
            </div>

            <div class="slider-feedback__slide swiper-slide">
              <div class="feedback-card">
                <div class="feedback-card__wrapper">
                  <p class="plain-text">Хожу к доктору Макаровой Елене Витальевне уже более 10 лет. Она профессиональная, тактичная, приятная женщина. Сужу по состоянию моих зубов, у меня нет проблем с зубами, значит нет проблем с врачами, они хорошо лечатся.</p>

                  <div class="feedback-card__author">
                    <div class="feedback-card__name">Алиса Суворова</div>
                    <div class="feedback-card__date">14.08.2022</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="slider-feedback__pagination swiper-pagination"></div>
      </div>
    </div>
  </div>
</section>
