.actions {
  &__container {
    @include paddingLR;
    @include mb-last-section;
  }

  &__title-wrapper {
    @include mb-l;
  }

  &__title {

  }

  &__wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    @include mb-xl;

    @media (max-width: 992px) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media (max-width: 520px) {
      grid-template-columns: 1fr;
    }
  }


}