.blog {
  &__container {
    @include paddingLR;
    @include mb-last-section;
  }

  &__title-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include mb-l;

    .media-icons-card__wrapper {
      align-items: flex-end;
    }
  }

  &__title {
  }

  &__wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: clamp(20px, 0.808rem + 1.359vw, 40px) clamp(10px, 0.404rem + 0.679vw, 20px);
    @include mb-xl;

    @media (max-width: 1200px) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media (max-width: 520px) {
      grid-template-columns: auto;
    }
  }
}