.blog-inner {
  &__container {
    @include paddingLR;
  }

  &__main-wrapper {
  }

  &__split-wrapper {
    display: grid;
    grid-template-columns: auto 27%;
    gap: clamp(45px, 1.698rem + 3.429vw, 93px);

    @media (max-width: 1500px) {
      grid-template-columns: auto 33%;
    }

    @media (max-width: 1200px) {
      grid-template-columns: auto 40%;
    }

    @media (max-width: 992px) {
      grid-template-columns: auto;
    }
  }

  &__main {
  }

  &__title-wrapper {
    @include mb-l;
  }
}