.clinic-boss {
  &__container {
    margin-bottom: 120px;
  }

  &__wrapper {
    display: grid;
    grid-template-columns: 37.76% auto;
    grid-gap: 0 76px;
    @include paddingLR;
    
    @media (max-width: 992px) {
      grid-template-columns: 1fr;
    }
  }

  &__img {
  }

  &__text-block {
    display: flex;
    flex-direction: column;
    gap: clamp(20px, 0.554rem + 2.143vw, 50px);
    padding: clamp(20px, 0.554rem + 2.143vw, 50px) 0;
  }

  &__title-wrapper {
  }

  &__title-subtitle {
    text-transform: uppercase;
    color: #828286;
    margin-bottom: 10px;
  }

  &__title {
    margin-bottom: 12px;
  }

  &__desc {
    display: flex;
    flex-direction: column;
    gap: 16px;
    color: $gray;
  }

  &__position {
    color: $gray;
  }

  &__highlighted {
    display: flex;
    flex-direction: column;
    gap: 14px;
    border-left: $viola solid 3px;
    padding-left: 20px;
    span {
      color: $viola;
      font-weight: 600;
    }
  }
}