.contacts {
  &__container {
    @include mb-last-section;
  }

  &__wrapper {
    position: relative;
  }

  &__info {
    position: absolute;
    top: clamp(30px, 0.542rem + 2.778vw, 62px);
    left: clamp(30px, 0.542rem + 2.778vw, 62px);
    padding: clamp(25px, 0.521rem + 2.17vw, 50px);
    background-color: #fff;
    border-radius: 32px;
    width: clamp(400px, 12.64rem + 19.935vw, 585px);
    
    @media (max-width: 768px) {
      padding: 0px;
      position: static;
      margin-bottom: 20px;
    }
  }

  &__title-wrapper {
    @include mb-s;
  }

  &__title-subtitle {
    text-transform: uppercase;
    color: #828286;
    margin-bottom: 10px;
  }

  &__title {
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 20px;
    @include mb-m;
  }

  &__row {

  }

  &__label {
    color: $gray;
  }

  &__tel {
    transition: color 0.2s linear;

    &:hover {
      color: $viola;
    }
  }

  &__address {
  }

  &__email {
    transition: color 0.2s linear;

    &:hover {
      color: $viola;
    }
  }

  &__media {
    display: flex;
    gap: 10px;
  }

  &__media-item {
    circle,
    path,
    rect {
      transition: fill 0.2s linear;
    }

    &.whatsapp:hover {
      path {
        fill: #F3F3F6;

        &.aaa {
          fill: #9755ee;
        }
      }
      circle {
        fill: #9755ee;
      }
    }

    &.insta:hover {
      path {
        fill: #F3F3F6;

        &.aaa {
          fill: #9755ee;
        }
      }
      circle {
        fill: #9755ee;
      }
      rect {
        fill: #9755ee;
      }
    }

    svg {
      pointer-events: none;
    }
  }

  iframe {
    border-radius: 32px;
    overflow: hidden;
  }
}