.contacts {
  &__container {
    @include mb-last-section;
  }

  &__wrapper {
    position: relative;
  }

  &__info {
    position: absolute;
    top: 62px;
    left: 62px;
    padding: 50px;
    background-color: #fff;
    border-radius: 32px;
    width: clamp(400px, 12.64rem + 19.935vw, 585px);
    
    @media (max-width: 768px) {
      padding: 0px;
      position: static;
    }
  }

  &__title-wrapper {
    @include mb-s;
  }

  &__title-subtitle {
    text-transform: uppercase;
    color: #828286;
    margin-bottom: 10px;
  }

  &__title {
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 20px;
    @include mb-m;
  }

  &__row {

  }

  &__label {
    color: $gray;
  }

  &__tel {
  }

  &__address {
  }

  &__email {
  }

  &__media {
    display: flex;
    gap: 10px;
  }

  &__media-item {
  }
}