.feedback {
  &__container {
  }

  &__title-wrapper {
    @include paddingLR;
    @include mb-l;
  }

  &__title {
    @include mb-l;
  }

  &__button-desc-wrapper {
    display: grid;
    grid-template-columns: 68% auto;
    @media (max-width: 768px) {
      grid-template-columns: auto;
      grid-gap: 20px;
    }
  }

  &__button-wrapper {
    justify-self: end;
  }

  &__button-container {
    @media (max-width: 768px) {
      justify-self: start;
    }

  }

  &__title-desc {
    color: $gray;
  }

  &__button {
    padding: clamp(11px, 0.445rem + 0.747vw, 22px) clamp(32px, 1.271rem + 2.242vw, 65px);
  }

  &__wrapper {
    @include paddingTBLR;
    @include mb-xl;
    border-radius: 32px;
    background: #f3f3f5;
  }

  &__text {
    @include mb-m;
    font-size: clamp(15px, 0.606rem + 1.019vw, 30px);
    font-weight: 500;
    line-height: clamp(16px, 0.558rem + 1.359vw, 36px);
  }

  &__media {
    @include paddingLR;
    @include mb-section;
  }

  &__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: clamp(20px, 0.808rem + 1.359vw, 40px) clamp(10px, 0.404rem + 0.679vw, 20px);

    @media (max-width: 1200px) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media (max-width: 578px) {
      grid-template-columns: 1fr;
    }
  }
}