.footer {
  &__container {
    background-color: #FBFAFC;
  }

  &__wrapper {
    @include paddingTBLR;
  }

  &__top {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding-bottom: 110px;
    border-bottom: 2px solid #1F1F2912;

    @media (max-width: 1200px) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media (max-width: 768px) {
      grid-template-columns: 1fr;
      gap: 30px;
    }
  }

  &__info {
  }

  &__logo {
    margin-bottom: 73px;
  }

  &__license {
    margin-bottom: 93px;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    color: $gray;
    max-width: 330px;
  }

  &__media {
    display: flex;
    gap: 10px;
  }

  &__media-link {
    circle,
    path {
      transition: fill 0.2s linear;
    }

    &.insta:hover {
      circle {
        fill: #1F1F29;
      }
      path {
        fill: #DEDEE2;
      }
    }

    &.whatsapp:hover {
      circle {
        fill: #1F1F29;
      }

      path {
        fill: #DEDEE2;

        //грязный хак Исправить
        &.aaa {
          fill: #1F1F29;
        }
      }
    }

    svg {
      pointer-events: none;
    }
  }

  &__menu {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
  }

  &__col {
    display: flex;
    flex-direction: column;
    gap: clamp(10px, -0.043rem + 1.078vw, 20px);

    &:last-child {
      justify-self: end;
    }
  }

  &__menu-title {
    color: $gray;
    font-weight: 500;
  }

  &__link {
    color: $black;
    font-weight: 500;
    transition: color 0.2s linear;

    &:hover {
      color: $viola;
    }
  }

  &__contacts {
    display: flex;
    justify-self: end;
    flex-direction: column;
    justify-content: space-between;

    @media (max-width: 1200px) {
      justify-self: start;
      margin-top: 20px;
    }
  }

  &__working-hours {
    margin-bottom: 12px;
    font-size: 16px;
    font-weight: 500;
    line-height: 19.2px;
    letter-spacing: -0.01em;
  }

  &__address,
  &__tel {
    @include mb-s;
    font-size: clamp(20px, 0.971rem + 0.857vw, 32px);
    font-weight: 500;
    line-height: clamp(24px, 1.175rem + 1vw, 38px);
    letter-spacing: -0.02em;
  }

  &__for-contact {
    margin-bottom: 12px;
    font-size: 16px;
    font-weight: 500;
    line-height: 19.2px;
    letter-spacing: -0.01em;
  }

  &__tel {
    display: inline-block;
  }

  &__button {
    font-size: clamp(13px, 0.696rem + 0.357vw, 18px);
    font-weight: 500;
    line-height: 21.6px;
    padding: 15px 30px;
    border-radius: 14px;

    &::before {
      border-radius: 14px;
    }
  }

  &__bottom {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 40px 0;
    color: $gray;

    @media (max-width: 992px) {
      grid-template-columns: 1fr;
    }
  }

  &__copyright {
  }

  &__policy,
  &__created-by {
    a {
      transition: color 0.2s linear;

      &:hover {
        color: $viola;
      }
    }
  }

  &__created-by {
    display: flex;
    justify-self: end;
    flex-direction: column;
    justify-content: space-between;

    @media (max-width: 992px) {
      justify-self: start;
    }
  }
}
