.header-contacts {
  &__wrapper {
    display: flex;
    gap: clamp(10px, -4.955rem + 5.952vw, 35px);
    color: #828286;
    
    @media (max-width: 768px) {
      display: none;
    }
  }

  &__media {
    display: flex;
    gap: 10px;

    a {
      display: flex;
      justify-content: center;
      align-items: center;
      svg {
        pointer-events: none;
      }

      circle,
      path {
        transition-property: fill stroke;
        transition-duration: 0.2s;
        transition-timing-function: linear;
      }

      &:hover {
        path {
          fill: $viola;
        }
        circle {
          stroke: $viola;
        }
      }

      &.whatsapp:hover {
        path {
          fill: $viola;

          &:last-child {
            fill: #FAFAFA;
          }
        }
      }
    }
  }

  &__contacts {
    display: flex;
    flex-direction: column;
    gap: 4px;
    text-align: right;
  }

  &__phone {
    color: $viola;
    font-weight: 600;
  }
}