.header {
  height: 105px;
  &__container {
    position: fixed;
    z-index: 20;
    @include mb-m;
    width: 100%;
    background: #fff;
  }

  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 60px;

    @media (max-width: 1440px) {
      padding: 20px 0px;
    }
  }
}