.main-page-slider {
  &__container {
    @include mb-section;
  }

  &__swiper {
  }

  &__wrapper {
  }

  &__nav {
    position: absolute;
    right: 60px;
    bottom: 74px;
    display: flex;
    gap: 55px;

    @media (max-width: 992px) {
      right: unset;
      bottom: 20px;
      left: 30px;
    }
  }

  &__prev {
    position: relative;
  }

  &__next {
    position: relative;
  }

  &__slider {
    display: grid;
    grid-template-columns: 707px 1fr;
    background-color: #F3F3F5;
    border-radius: 22px;

    @media (max-width: 1520px) {
      display: flex;
      flex-direction: column;
    }
  }

  &__img-container {
    @media (max-width: 1520px) {
      text-align: center;
    }
  }

  &__img {
    border-radius: 22px;
    height: 100%;
  }

  &__text-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: clamp(15px, -0.107rem + 3.214vw, 60px);
    padding-left: clamp(15px, -0.107rem + 3.214vw, 60px);
    
    @media (max-width: 1520px) {
      text-align: center;
    }
    @media (max-width: 992px) {
      padding-bottom: 85px;
    }
  }

  &__pagination {
    display: flex;
    flex-direction: column;
    gap: 20px;
    top: 60px!important;
    left: unset!important;
    right: 60px;
    width: unset!important;
    @media (max-width: 1520px) {
      right: 30px;
    }
  }

  &__title {
    @include mb-s;
    color: $black;
  }

  &__text {
    color: $gray;
    @media (max-width: 1520px) {
      @include mb-m;
    }
  }

  &__button-wrapper {
    img {
      max-block-size: unset;
      position: absolute;
      bottom: -65px;
      right: -165px;
    }

    @media (max-width: 1520px) {
      display: flex;
      justify-content: center;
    }

  }
  
  &__button {
    position: relative;
    padding: clamp(10px, 0.393rem + 0.714vw, 20px) clamp(20px, 0.786rem + 1.429vw, 40px);
  }

  .swiper-button-prev::after {
    content: url("../img/arrow-left.svg");
  }

  .swiper-button-next::after {
    content: url("../img/arrow-right.svg");
  }

  .swiper-pagination-bullet-active {
    background: $viola;
  }
}
