.mp-about {
  &__container {
    margin-bottom: 60px;
  }

  &__wrapper {
    display: flex;
    gap: 93px;
    padding: 0 60px;
  }

  &__left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
    flex-basis: 0;
    max-width: 630px;
  }

  &__right {
    display: flex;
    flex-direction: column;
    gap: 16px;
    flex-grow: 1;
    flex-basis: 0;
    color: $gray;
  }

  &__media-wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  &__media-icons {
    display: flex;
    gap: 8px;
  }

  &__media-icon {
    img {
      pointer-events: none;
    }
  }
}