.slider-dentists {
  &__container {
  }

  &__swiper {
    @include mb-xl;
  }

  &__wrapper {
  }

  &__slider {
  }

  &__img-container {
  }

  &__img {
  }

  &__pagination {
    position: static;
  }

  .swiper-pagination-bullet-active {
    background-color: $viola;
  }

  .swiper-pagination-bullets.swiper-pagination-horizontal {
    bottom: 0;
    top: 60px;
  }
}