.specialists {
  &__container {
    @include paddingLR;
    @include mb-last-section;
  }

  &__title-wrapper {
  }

  &__title {
    @include mb-l;
  }

  &__wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    margin-bottom: clamp(30px, 1.179rem + 2.143vw, 60px);

    @media (max-width: 1500px) {
      grid-template-columns: repeat(3, 1fr);
    }

    @media (max-width: 992px) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media (max-width: 520px) {
      grid-template-columns: 1fr;
    }
  }
}