.table-prices {
  &__table-prices {
  }

  &__row {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-gap: 10px;
    padding: clamp(10px, 0.404rem + 0.679vw, 20px) clamp(12px, 0.485rem + 0.815vw, 24px);
    border-top: 1.5px solid #E8E8EE;
    &:last-child {
      border-bottom: 1.5px solid #E8E8EE;
    }
  }

  &__header {
  }

  &__price {
  }

  &__title {

  }

  &__subtitle {
    color: $gray;
    margin-top: 10px;
  }
}