.technology {
  &__container {
    @include paddingLR;
  }

  &__wrapper {
    display: flex;
    gap: clamp(20px, -0.445rem + 5.214vw, 93px);
    @include mb-xl;

    @media (max-width: 992px) {
      flex-direction: column;
      gap: 20px;
    }
  }

  &__title-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
    flex-basis: 0;
    max-width: 630px;
    gap: 10px;
  }

  &__title {
  }

  &__text {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    flex-basis: 0;
    gap: 16px;
    color: $gray;
  }
}