.why-we {
  &__container {
    color: #fff;
    @include mb-section;
  }

  &__wrapper {
    @include paddingTBLR;
    background-color: $viola;
    border-radius: 32px;
  }

  &__title-wrapper {
    margin-bottom: clamp(25px, 0.216rem + 4.143vw, 83px);
  }

  &__subtitle {
    margin-bottom: 10px;
    text-transform: uppercase;
    opacity: 65%;
    color: #fff;
  }

  &__title {
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);

    @media (max-width: 1520px){
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 20px;
    }

    @media (max-width: 820px){
      grid-template-columns: 1fr;
      justify-items: center;
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    gap: clamp(15px, 0.589rem + 1.071vw, 30px);
    max-width: 300px;

    @media (max-width: 1520px){
      max-width: unset;
    }

    @media (max-width: 820px){
      align-items: center;
      text-align: center;
    }
  }

  &__img {
    width: fit-content;
    img {
      height: 126px;
    }
  }

  &__item-title {
    line-height: 33px;
  }

  &__item-desc {
  }
}