$black: #1f1f29;
$gray: #5e5e6b;
$viola: #9755ee;

html {
  font-family: Onest;
  color: $black;
}

.container {
  padding-left: 110px;
  padding-right: 110px;
}

.button {
  display: block;
  white-space: nowrap;
  font-size: 24px;
  width: fit-content;
  border-radius: 22px;

  &_color {
    &_gradient {
      color: #fff;
      background-image: linear-gradient(90deg, rgba(183,111,255,1) 0%, rgba(57,177,193,1) 100%);
      &:hover {
        background-image: linear-gradient(90deg, rgba(183,111,255,1) 0%, rgba(183,111,255,1) 100%);
      }
    }
  }
}