$black: #1f1f29;
$gray: #5e5e6b;
$viola: #9755ee;

html {
  font-family: Onest;
  color: $black;
}

.container {
  width: 100%;
  padding-left: 110px;
  padding-right: 110px;

  @media (max-width: 14){
    padding-left: 60px;
    padding-right: 60px;
  }

  @media (max-width: 992px){
    padding-left: 30px;
    padding-right: 30px;
  }

  @media (max-width: 520px){
    padding-left: 10px;
    padding-right: 10px;
  }
}

.button {
  display: block;
  white-space: nowrap;
  font-size: clamp(15px, -0.5rem + 1.667vw, 24px);
  width: fit-content;
  border-radius: clamp(11px, 0.432rem + 0.786vw, 22px);

  &_color {
    &_gradient {
      display: flex;
      align-items: center;
      justify-content: center;
      color: #fff;
      background-color: rgba(183,111,255,1);
      position: relative;
      z-index: 1;

      &::before {
        content:'';
        position: absolute;
        z-index: -1;
        width: 100%;
        height: 100%;
        background: linear-gradient(90deg, rgba(183,111,255,1) 30%, rgba(57,177,193,1) 70%);
        border-radius: clamp(11px, 0.432rem + 0.786vw, 22px);
        opacity: 1;
        transition: opacity 0.2s linear;
      }
    }

    &_viola {
      color: $viola;
      display: inline-flex;
      justify-content: center;
      align-items: center;
      gap: 10px;
      flex-shrink: 0;
      border-radius: 14px;
      outline: 2px solid $viola;

      transition-property: color, background-color;
      transition-duration: 0.2s;
      transition-timing-function: linear;

      &:hover {
        color: #fff;
        background: $viola;
      }
    }
  }
}

.button_color_gradient:hover::before {
  opacity: 0;
}


.swiper-wrapper {
  align-items: stretch;
}

.swiper-slide {
  height: auto;
}

.mb-section {
  margin-bottom: clamp(60px, 2.357rem + 4.286vw, 120px);
}

.mb-last-section {
  margin-bottom: clamp(75px, 2.946rem + 5.357vw, 150px);
}

.mb-xxl {
  margin-bottom: clamp(45px, 2.232rem + 1.786vw, 70px);
}

.mb-xl {
  margin-bottom: clamp(30px, 1.179rem + 2.143vw, 60px);
}

.mb-l {
  margin-bottom: clamp(25px, 0.982rem + 1.786vw, 50px);
}

.mb-m {
  margin-bottom: clamp(20px, 0.786rem + 1.429vw, 40px);
}

.mb-s {
  margin-bottom: clamp(15px, 0.589rem + 1.071vw, 30px);
}

input,
textarea {
  padding: clamp(15px, 0.589rem + 1.071vw, 30px) clamp(16px, 0.629rem + 1.143vw, 32px);
  cursor: text;
  border-radius: clamp(8px, 0.314rem + 0.571vw, 16px);
  width: 100%;
  background-color: #f3f3f5;
  font-size: clamp(13px, 0.65rem + 0.5vw, 20px);

  &::placeholder {
    color: $gray;
  }
}

.input-file {
  position: relative;
  display: inline-block;
  width: 100%;
  span {
    width: 100%;
    padding: 7px;
    &::before {
      content: url('../img/file-attachment.svg');
    }
  }
}
.input-file input[type=file] {
  position: absolute;
  z-index: -1;
  opacity: 0;
  display: block;
  width: 0;
  height: 0;
}

.policy {
  color: $gray;
  font-weight: 400;
}

.policy-link {
  border-bottom: 1px dashed;
}