@mixin gradient {
  background-image: linear-gradient(to right, $viola, #38b1c1);
}

@mixin paddingLR {
  padding: 0 clamp(0px, -1.393rem + 4.286vw, 60px);
}

@mixin paddingTBLR {
  padding: clamp(20px, -1.393rem + 4.286vw, 60px);
}

@mixin mb-section {
 margin-bottom: clamp(60px, 2.357rem + 4.286vw, 120px);
}

@mixin mb-last-section {
  margin-bottom: clamp(75px, 2.946rem + 5.357vw, 150px);
}

@mixin mb-xxl {
  margin-bottom: clamp(45px, 2.232rem + 1.786vw, 70px);
}

@mixin mb-xl {
  margin-bottom: clamp(30px, 1.179rem + 2.143vw, 60px)
}

@mixin mb-l {
  margin-bottom: clamp(25px, 0.982rem + 1.786vw, 50px);
}

@mixin mb-m {
  margin-bottom: clamp(20px, 0.786rem + 1.429vw, 40px);
}

@mixin mb-s {
  margin-bottom: clamp(15px, 0.589rem + 1.071vw, 30px);
}