@import url('https://fonts.googleapis.com/css2?family=Onest:wght@100..900&display=swap');

.text-white {
  color: #fff;
}


.plain-text {
  font-size: 22px;
  font-weight: 400;
  line-height: 28.6px;
  letter-spacing: 0em;
}

.plain-text-s {
  font-size: 18px;
  font-weight: 500;
  line-height: 23px;
  letter-spacing: 0em;
}

.plain-text-xs {

}

.title {
  font-weight: 700;
  font-size: 64px;
  line-height: 77px;
  letter-spacing: -0.01em;
}

.title-section {
  font-weight: 600;
  font-size: 50px;
  line-height: 60px;
  letter-spacing: -0.01em;
}

.title-secondary {
  font-weight: 600;
  font-size: 28px;
  line-height: 60px;
  letter-spacing: -0.01em;
}

.title,
.title-section,
.title-secondary {
  span {
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    @include gradient;
  }
}