@import url('https://fonts.googleapis.com/css2?family=Onest:wght@100..900&display=swap');

.text-white {
  color: #fff;
}


.plain-text {
  font-size: clamp(16px, 0.861rem + 0.429vw, 22px);
  font-weight: 400;
  line-height: 130%;
  letter-spacing: 0em;
}

.plain-text-s {
  font-size: clamp(13px, 0.696rem + 0.357vw, 18px);
  font-weight: 500;
  line-height: 130%;
  letter-spacing: 0em;
}

.plain-text-xs {

}

.title {
  font-weight: 700;
  font-size: clamp(23px, 0.743rem + 2.714vw, 64px);
  line-height: 120%;
  letter-spacing: -0.01em;
}

.title-section {
  font-weight: 600;
  font-size: clamp(22px, 0.725rem + 2vw, 50px);
  line-height: 120%;
  letter-spacing: -0.01em;
}

.title-secondary {
  font-weight: 600;
  font-size: clamp(18px, 0.893rem + 0.714vw, 28px);
  line-height: 120%;
  letter-spacing: -0.01em;
}

.title-h2 {
  font-weight: 500;
  font-size: clamp(16px, 0.629rem + 1.143vw, 32px);
  line-height: 130%;
}

.title-h3 {
  font-weight: 500;
  font-size: clamp(13px, 0.511rem + 0.929vw, 26px);
  line-height: 130%;
}

.title,
.title-section,
.title-secondary {
  span {
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    @include gradient;
  }
}

ul {
  list-style: disc;
  list-style-position: inside;
}

.paragraph {
  &:not(:last-child) {
    @include mb-xxl;
  }
}

.text-block {
  display: flex;
  flex-direction: column;
  grid-gap: clamp(8px, 0.314rem + 0.571vw, 16px);
  color: $gray;

  .title-h3 {
    color: $black;
  }
}

.img-block {
  &__wrapper {
    position: relative;
    display: flex;
    gap: 20px;
  }
  &__date {
    position: absolute;
    top: clamp(12px, 0.471rem + 0.857vw, 24px);
    left: clamp(12px, 0.471rem + 0.857vw, 24px);
    padding: clamp(6px, 0.236rem + 0.429vw, 12px) clamp(8px, 0.314rem + 0.571vw, 16px);
    background: #fff;
    border-radius: clamp(8px, 0.314rem + 0.571vw, 16px);
  }
}

.subtitle {
  color: $gray;
  text-transform: uppercase;
}